
#google-img{
    display: block;
    margin: auto;
}

#logo {
    margin-top: 25vh;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


a {
    display: block;
    color: #707070;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.left-stuff {
    float: left;
    margin-left: 10px;
    margin-top: 7px;
}


.right-stuff {
    float: right;
    margin-right: 10px;
    margin-top: 7px;

}

#form-container {
    text-align: center;
}

.searchbar {
    margin:0 auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
}

#search {
    height:45px;
    border:none;
    width:500px;
    font-size:16px;
    outline: none;
}