#google-img {
    display: block;
    margin: auto;
}

#logo {
    margin-top: 25vh;
}

nav {
    list-style-type: none;
    padding-left: 10px;
    padding-top: 15px;
}

a {
    color: #707070;
    padding: 10px 16px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.left-stuff {
    float: left;
}

.right-stuff {
    float: right;
}

.bottom-left {
    float: left;
    padding-left: 10px;
    padding-bottom: 15px;
}

.bottom-right {
    float: right;
}

#form-container {
    text-align: center;
}

#bottom-container {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.searchbar {
    margin: 0 auto;
    width: 575px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
}

#search {
    height: 45px;
    border: none;
    width: 500px;
    font-size: 16px;
    outline: none;
}

.button {
    background-color: #f5f5f5;
    border: none;
    color: #707070;
    font-size: 15px;
    padding: 12px 20px;
    margin: 15px;
    border-radius: 4px;
    outline: none;
}

.button:hover {
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color: #808080;
}